.sidebar {
  position:fixed;
  left: 0;
  bottom: 0;
  top: 57px;
  background-color: white;
  width: 72px;
  padding-top:5px;
  cursor: pointer;
  z-index: 200px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.sidebar-link:hover {
  background-color: rgb(235,235,235);
}

.sidebar-link img {
  height:24px;
  margin-bottom:4px;

}

.sidebar-link div {
  font: Roboto, Arial;
  font-size: 10px;
}